@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BBC';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/BBCReithSans_W_Bd.woff2") format("woff2");
}

:root {
    --custom-50: 248, 245, 254;
    --custom-100: 238, 231, 254;
    --custom-200: 220, 207, 252;
    --custom-300: 193, 168, 250;
    --custom-400: 130, 81, 246;
    --custom-500: 75, 12, 223;
    --custom-600: 54, 8, 160;
    --custom-700: 39, 6, 116;
    --custom-800: 23, 4, 68;
    --custom-900: 11, 2, 34;
    --custom-950: 7, 1, 19;
    --primary-deg: 258.312deg;
    --primary-sat: 62.6016%;
}


.spinner {
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    display: none;
    height: 70px;
    left: 50%;
    margin: 0;
    opacity: 0.85;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    max-width: 600px;
    outline: transparent;
    line-height: 1 !important;
}

.spinner:before {
    display: none !important;
}

.spinner .loading {
    align-items: center;
    border-radius: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    outline: transparent;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    z-index: 99999999;
    word-break: keep-all;
    white-space: nowrap;
}

.spinner .loading .loader {
    background: rgba(15, 15, 15, 0.7);
    border-radius: 8px;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 8px;
    opacity: 1;
    outline: transparent;
    padding: 0.5rem 1rem;
    text-align: center;
}

.spinner .loading span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 3px;
    background: #fff;
    border-radius: 50%;
    animation: loading 1s infinite alternate;
}

.spinner .loading span:nth-of-type(1) {
    background: rgb(var(--custom-700));
}

.spinner .loading span:nth-of-type(2) {
    background: rgb(var(--custom-600));
    animation-delay: 0.2s;
}

.spinner .loading span:nth-of-type(3) {
    background: rgb(var(--custom-500));
    animation-delay: 0.4s;
}

.spinner .loading span:nth-of-type(4) {
    background: rgb(var(--custom-400));
    animation-delay: 0.6s;
}

.spinner .loading span:nth-of-type(5) {
    background: rgb(var(--custom-300));
    animation-delay: 0.8s;
}

.spinner .loading span:nth-of-type(6) {
    background: rgb(var(--custom-100));
    animation-delay: 1s;
}

.spinner .loading span:nth-of-type(7) {
    background: rgb(var(--custom-50));
    animation-delay: 1.2s;
}

.vjs-text-track-cue > *,
.jw-text-track-cue,
::cue {
    background: transparent !important;
    text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px, black 0 0 4px, black 0 0 4px, black 0 0 4px,
    black 0 0 4px !important;
}



@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMlrTA.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --nomercyplayer-primary: rgb(147, 51, 234);
}

* {
    font-family: 'Inter', sans-serif !important;
    font-feature-settings: 'tnum' on, 'lnum' on;
}
.font-mono {
    font-family: 'Source Code Pro', monospace;
}
.nomercyplayer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}
.nomercyplayer * {
    user-select: none;
}
.nomercyplayer video {
    margin: 0 auto;
}

.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.slider-pop-image {
    min-height: 80px;
    min-width: 144px;
}
.vjs-poster,
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.jw-stats-panel,
.vjs-modal-dialog,
.vjs-hidden {
    display: none !important;
}

/* canvas {
    transition: all 420ms ease-in-out;
}
.nomercyplayer[active="true"]  canvas {
    padding-bottom: 4rem
} */


.seek-ripple {
    --deg: 90deg;
    align-items: center;
    background: linear-gradient(var(--deg), #ffffff10 10%, #ffffff10 45%, #ffffff05 100%);
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 28%;
}
.seek-ripple.left {
    --deg: 90deg;
}
.seek-ripple.right {
    --deg: 270deg;
}
.seek-ripple-arrow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    position: relative;
    width: 600px;
}

.seek-ripple-text {
    font-size: 0.8rem;
    font-weight: 700;
    pointer-events: none;
    position: relative;
    text-align: center;
    width: 600px;
}

.arrow {
    --size: 0.7;
    border-bottom: calc(var(--size) * 1rem) solid transparent;
    border-top: calc(var(--size) * 1rem) solid transparent;
    float: left;
    height: calc((var(--size) * 1rem) * 2);
    margin-bottom: .5rem;
    width: calc((var(--size) * 1rem) * 2);
}

.arrow-right {
    border-left: calc((var(--size) * 1rem) + 5px) solid white;
}

.arrow-left {
    border-right: calc((var(--size) * 1rem) + 5px) solid white;
}

.arrow1 {
    animation: flash 0.75s infinite;
}

.arrow2 {
    animation: flash 0.75s infinite 0.25s;
}

.arrow3 {
    animation: flash 0.75s infinite 0.5s;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.libassjs-canvas-parent {
    position: absolute !important;
}

.menu-content {
    max-height: 90%;
}

.nomercyplayer * {
    scrollbar-width: thin;
    scrollbar-color: var(--nomercyplayer-primary) transparent;
}

.nomercyplayer *::-webkit-scrollbar {
    width: 8px;
}

.nomercyplayer *::-webkit-scrollbar-track {
    background: transparent;
}

.nomercyplayer *::-webkit-scrollbar-thumb {
    background-color: var(--nomercyplayer-primary);
    border-radius: 10px;
}

.nomercyplayer *::-webkit-scrollbar-thumb {
    background-color: transparent;
    scrollbar-color: transparent transparent;
}

@media (max-width: 900px) {
    .tooltip {
        display: none !important;
    }
}

.jw-error-msg,
.jwplayer.jw-preview,
.jwplayer.jw-tab-focus:focus {
    outline: none !important;
}

.jwplayer {
    width: 100% !important;
    height: 100% !important;
}

.jw-text-track-display {
    translate: 0 1rem;
    transition: translate 420ms ease-in-out;
}
.nomercyplayer[active="true"] .jw-text-track-display {
    translate: 0 0rem;
}

.nomercyplayer[active="false"] * {
    cursor: none !important;
}

.nextup-button {
    --duration: 5;
    position: relative;
    display: flex;
    font-size: 0.75em;
    height: 2rem;
    justify-content: center;
    padding: 0em 1em;
    border-radius: 0.5em;
    background-color: rgb(24 24 27);
    color: rgb(180 180 180);
    overflow: hidden;
    counter-reset: next-counter var(--duration);
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
    -webkit-animation: next-text calc(var(--duration) * 1s) linear infinite forwards;
            animation: next-text calc(var(--duration) * 1s) linear infinite forwards;
}
.nextup-button.animated:hover {
    background-color: rgb(20 20 23);
}
.nextup-button.animated:active {
    color: rgb(24 24 27);
}
.nextup-button.animated:active, .nextup-button.animated:active:after, .nextup-button.animated:active:before {
    -webkit-animation: none;
            animation: none;
}
.nextup-button.animated:active:before {
    background-color: rgb(180 180 180);
    width: calc(100% + 1em);
    counter-reset: next-counter 0;
}
.nextup-button.animated:before, .nextup-button.animated:after {
    pointer-events: none;
}
.nextup-button.animated:before {
    content: attr(data-icon);
    font-size: 2em;
    line-height: 1.1;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0em;
    top: 0;
    z-index: 0;
    text-align: left;
    padding: 0.25em;
    text-indent: 0.5em;
    -webkit-animation: next calc(var(--duration) * 1s) linear infinite forwards;
            animation: next calc(var(--duration) * 1s) linear infinite forwards;
}
.nextup-button.animated:after {
    content: attr(data-label) " " counter(next-counter);
    font-weight: 700;
    display: block;
    font-size: 1.6em;
    line-height: 1;
    padding: 0.5em 1em 0.5em 2em;
    position: relative;
    white-space: nowrap;
    -webkit-animation: next-countdown calc(var(--duration) * 1s) linear infinite forwards;
            animation: next-countdown calc(var(--duration) * 1s) linear infinite forwards;
}
.nextup-button[data-icon]:not([data-icon=""]):after {
    padding-left: 2.5em;
}

@-webkit-keyframes next {
    0% {
        width: 0%;
        background-color: rgb(54 54 57);
    }
    89% {
        width: calc(100% + .5em);
        background-color: rgb(54 54 57);
    }
    89.5%, 100% {
        width: calc(100% + .5em);
        background-color: rgb(180 180 180);
    }
}

@keyframes next {
    0% {
        width: 0%;
        background-color: rgb(54 54 57);
    }
    89% {
        width: calc(100% + .5em);
        background-color: rgb(54 54 57);
    }
    89.5%, 100% {
        width: calc(100% + .5em);
        background-color: rgb(180 180 180);
    }
}
@-webkit-keyframes next-countdown {
    0% {
        counter-increment: next-counter 0;
    }
    20% {
        counter-increment: next-counter -1;
    }
    40% {
        counter-increment: next-counter -2;
    }
    60% {
        counter-increment: next-counter -3;
    }
    80% {
        counter-increment: next-counter -4;
    }
    100% {
        counter-increment: next-counter -5;
    }
}
@keyframes next-countdown {
    0% {
        counter-increment: next-counter 0;
    }
    20% {
        counter-increment: next-counter -1;
    }
    40% {
        counter-increment: next-counter -2;
    }
    60% {
        counter-increment: next-counter -3;
    }
    80% {
        counter-increment: next-counter -4;
    }
    100% {
        counter-increment: next-counter -5;
    }
}
@-webkit-keyframes next-text {
    0%, 89% {
        color: rgb(180 180 180);
    }
    89.5%, 100% {
        color: rgb(24 24 27);
    }
}
@keyframes next-text {
    0%, 89% {
        color: rgb(180 180 180);
    }
    89.5%, 100% {
        color: rgb(24 24 27);
    }
}